body {
    font-size: 100%;    /* Makes em measurements scale reasonably. */
    font-family: serif;
    margin: 1em;
    max-width: 45em;
}

a:not(:hover) { text-decoration:none }

header {
    display: table-row;
    font-size: 1.9em;
}
header > * {
    display: table-cell;
    vertical-align: middle;
    padding-right: 0.5em
}

nav           { background: #ddd; }
nav > ul      {  margin: 0;        padding-left: 1em;  }
nav > ul > li {  display: inline;  padding: 0.5em;     }

.page-title  { text-align: center; }
ol.post-list { list-style-type: none;  padding: 1em;  padding-top: 0em; }
.post-list-title { font-size: 1.2em; font-weight: bold; }
.author { font-style: italic; }
.post-excerpt { padding-left: 1em; }
